// TYPE


// HEADINGS

h1, .hd-xl,
h2, .hd-l,
h3, .hd-m,
h4, .hd-s,
h5, .hd-xs,
h6, .hd-xxs {
  font-family: $base-font-family;
  font-weight: $base-font-bold;
  margin: 0 0 1.25rem 0;
}

h1, .hd-xl {
  @include heading(2.25rem); // max-size: 40px
  text-transform: uppercase;
}

h2, .hd-l {
  @include heading(1.5rem); // max-size: 28px
}

h3, .hd-m {
  @include heading(1.25rem); // max-size: 24px
}

h4, .hd-s {
  @include heading(1rem); // max-size: 20px
}

h5, .hd-xs {
  @include heading(1rem); // max-size: 20px
}

h6, .hd-xxs {
  @include heading(1rem); // max-size: 20px
}
